.cellWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.textValue {
    font-weight: 500;
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
}

.textInput {
    font-weight: 500;
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
}

.textInput:disabled {
    opacity: 0.5;
}

.lockedCell {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    justify-content: center;
    overflow: hidden;
    color: var(--color-text-faded);
    text-overflow: ellipsis;
    white-space: nowrap;
}
