@layer components {
    .cellWrapper {
        composes: cellWrapper from "./Cells.module.css"
    }

    .triggerButton {
        composes: triggerButton from "./Cells.module.css"
    }

    .overflowHidden {
        composes: overflowHidden from "./Cells.module.css"
    }

    .tagContainer {
        display: flex;
        min-width: 0;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.25rem;
        overflow: hidden;
    }

    .tagPill {
        flex-shrink: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 9999px;
        background-color: color-mix(in oklch, var(--smoke-400) 80%, black 50%);
        padding: 0.125rem 0.5rem;
        font-size: 0.75rem;

    }

    .portalWrapper {
        position: absolute;
        z-index: 999;
        display: flex;
        min-width: 30rem;
        max-width: 50rem;
        max-height: 50rem;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;
        border-radius: 0.25rem;
        border: 1px solid var(--volt-border);
        background-color: var(--smoke-400);
        padding: 0.25rem 0.375rem;
        box-shadow: var(--volt-500);
        box-shadow: inset 0 0 0 1px var(--color-ring);
        transition: background-color 0.1s, border-color 0.1s;
        top: anchor(top);
        left: anchor(left);
        position-try: flip-block, flip-inline;

        &:focus-within {
            border-color: var(--volt-500);
            box-shadow: inset 0 0 0 2px var(--volt-500);
        }
    }

    .editableTag {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        background-color: var(--char-700);
        padding: 0.25rem;
        font-size: 0.75rem;

        color: var(--paper-50);
        gap: 0.25rem;
    }

    .removeBtn {
        border-radius: 9999px;
        padding: 0.125rem;
        color: var(--paper-50);
        transition: background-color 0.1s, color 0.1s;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--volt-300);
            color: var(--char-900);
        }

        &:disabled {
            pointer-events: none;
        }
    }

    .tagInput {
        min-width: 4rem;
        flex: 1;
        background-color: transparent;
        font-size: 0.875rem;
        color: var(--char-900);
        outline: none;
        border: none;
        padding: unset;
        padding-left: 0.5rem;
        border: none;

        &::placeholder {
            color: var(--char-700);
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:focus-visible {
            all: unset;
        }
    }

    .dropdown {
        max-height: 12rem;
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        border-radius: 0.25rem;
        border: 1px solid var(--color-bg-tag);
        background-color: var(--char-700);
        box-shadow: var(--shadow-dropdown);
    }

    .selectedTags {
        display: flex;
        /* width: 100%; */
        flex-wrap: wrap;
        align-items: center;
        gap: 0.15rem;
    }

    .dropdownItem {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        flex-grow: 1;
        padding: 0.25rem 0.75rem;
        text-align: left;
        font-size: 0.875rem;
        color: var(--color-text-secondary);
        background: transparent;
        border: 1px solid var(--volt-tint-strong);
        cursor: pointer;

        &:hover {
            background-color: var(--char-600);
        }
    }

    .iconSpinner {
        flex-shrink: 0;
        color: var(--color-text-muted);
        animation: spin 1s linear infinite;
    }

    .tooltip {
        position: absolute;
        display: grid;
        text-align: center;
        max-height: 50vh;
        overflow: hidden;
        max-width: 50vw;
        grid-template-columns: repeat(auto-fill, 150px);
        top: anchor(bottom);
        left: anchor(left);
        position-try: flip-block;
        gap: 0.25rem;
        
        img,
        span {
            background-color: var(--char-900);
        }
    }


    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}