.pt-5 {
    padding-top: 1.25rem;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.fillUp {
    width: 100%;
    height: 100%;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 8px;
    padding: 0.65rem;
    cursor: pointer;
    background-color: var(--char-800);
    color: var(--paper-100);
    border: 1px solid var(--char-600);

    &:hover {
        border-color: var(--char-600);
        background-color: var(--char-700);
    }
}

.danger {
    color: var(--danger-500);
}

.menuPopoverAnimation {
    opacity: 0;
    transform: translateY(5rem);
    z-index: 4;
    transition:
        opacity 200ms,
        transform 800ms var(--bounce),
        display 200ms allow-discrete,
        overlay 200ms allow-discrete;

    &:popover-open {
        opacity: 1;
        transform: translateY(0);
        
        @starting-style {
            opacity: 0;
            transform: translateY(-5rem);
        }
    }
}