@layer components {
    .itemsContainer {
        composes: filters from "~/features/movies/components/MovieGrid.module.css";
        height: unset;
        display: flex;
        flex-direction: column;
        >div {
            display: grid;
            align-items: center;
            justify-items: left;
            grid-template-columns: subgrid;
            grid-column: span 3;
            padding: 0.25rem 0.5rem;
            text-wrap: nowrap;
            border-radius: 0;
            background-color: var(--char-700);

            &:hover {
                background-color: var(--char-600);
            }
        }
    }
}