@layer components {
    .itemsContainer {
        position: absolute;
        margin-top: 0.5rem;
        top: anchor(bottom);
        left: anchor(left);
        display: flex;
        flex-direction: column;
        border: none;
        
    }
}