@layer components {
    .itemsContainer {
        position: absolute;
        background-color: var(--char-700);
        margin-top: 0.5rem;
        border: 1px solid var(--volt-600);
        border-radius: var(--radius);
        flex-direction: column;
        position-area: bottom center;

        >div {
            display: grid;
            align-items: center;
            justify-items: left;
            grid-template-columns: subgrid;
            grid-column: span 3;
            padding: 0.25rem 0.5rem;
            text-wrap: nowrap;
            border-radius: 0;
            background-color: var(--char-700);

            &:hover {
                background-color: var(--char-600);
            }
        }

        &:popover-open {
            display: flex;
        }
    }    
}