@import "tailwindcss";

@layer base {
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        @apply bg-slate-800;

    }
}

:root {
    interpolate-size: allow-keywords;
}

* {
    user-select: none;
}

#gridContainer {
    container-type: inline-size;
}

.ctis {
    container-type: inline-size;
}

.actorsList {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.homeBtn svg {
    @apply fill-orange-500;
    @apply w-20;
    @apply h-20
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

    /* Chrome, Safari, Opera, and Edge Chromium */
    &::-webkit-slider-runnable-track {
        background: #053a5f;
        height: 0.5rem;
    }

    /* Firefox */
    &::-moz-range-track {
        background: #053a5f;
        height: 0.5rem;
    }

    /* Thumb Styles - Chrome, Safari, Opera, and Edge Chromium */
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        background-color: #EA580C;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        margin-top: -4px;
        top: 50%;
    }
}

.holdBtn {
    &::after {
        content: "";
        inset: 0;
        position: absolute;
        z-index: -10;
        @apply bg-slate-800;
    }

    &::before {
        content: "";
        inset: 0;
        position: absolute;
        z-index: -5;
        @apply bg-orange-500;
        translate: calc(var(--time)*-1%);
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.thin-scrollbar {
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: 10px;
        /* Width for vertical scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        /* Makes the track invisible */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        /* Semi-transparent thumb */
        border-radius: 5px;
    }
}