@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        @apply bg-slate-800;

    }
}

* {
    user-select: none;
}

#gridContainer {
    container-type: inline-size;
}
.actorsList {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
@container (min-width: 768px) {
    .actorsList {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@container (min-width: 1024px) {
    .actorsList {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        scrollbar-gutter: stable;
    }
}

/* width */
::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

/* Track */
::-webkit-scrollbar-track {
    background: #2c3e50;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}